{% extends 'base.html' %}

{% block content %}
<b>ADMIN</b><br>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}<br>
    <button type="submit">Upload</button>
  </form>

  <center>
    <div style = "font-size: 40px"><b>Questions</b><div>
    <div style="width:1800px;background-color: rgb(182, 182, 182);text-align:left;height:1200px;border:1px solid #000;font-size: 30px">
 
        {% for title in titles %}
            <li p style="color:rgb(60, 60, 60)">{{ title }}</li>
        {% endfor %}
 
    </div>
</center>

  {% endblock %}